//Variável que possui os valores do degradê
:root{
    --gradient: linear-gradient(
        45deg,
        #FF0B38, 
        #FF8FE2
    );
}
//Definições iniciais
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#sobre, #blog{
    color: #555555 !important;
}
#sobre:hover, #blog:hover{
    color: #FF0B38 !important;
}
main{
    flex: 1 0 auto;
}
.sobre-mobile, .blog-mobile{
    display: none;
}


//* * * Barra de Navegação * * * //
nav{
    margin-top: 2.5vw;
}
nav ul li a{
    color: #555555 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    margin-right: 1vw;
}
nav ul li a:hover{
    background-color: white !important;
}
.sidenav-close a{
    color: white !important;
}
.sidenav-close a:hover{
    color: white !important;
}
a:hover, a.active{
    color: #FF0B38 !important;
    transition:.5s;
}
//Cor do Burger
.material-icons{
    color: #FF0B38 !important;
}
.pg-atual{
    //Ajustando a margem causada pelo círculo
    //Definindo o link 'home' com cor diferente
    display: inline-block;
}
//Definindo círculo que ficará sob o link da página Home
.circulo{
    height: 0.5vw;
    width: 0.5vw;
    background-image: var(--gradient);
    border-radius: 70%;
    position: absolute;
    margin-top: 3.5vw;
    margin-left: -1.65vw;
}
//Definindo o link 'home' com cor diferente
#home{
    color: #FF0B38 !important;
}
//Logotipo
#logotipo{
    height: 4vw;
    margin-top: 3%;
}
//Botão de Participação
.botao{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1vw;
    padding: 0.4vw 0.916667vw 0.4vw 0.916667vw; //Top - Right - Bottom - Left
    background-image: var(--gradient);
    border: none;
    border-radius: 0.183333vw;
    background-size: 200%;
    transition: background-position 0.4s;
    margin-left: 0.8vw;
}
.botao:hover, .botao:active{
    //Animação para o degradê de background
    background-position: right;
}




//A P R E S E N T A Ç Ã O
.apresentacao{
    top: 1vw;
    text-align: center;
    position: relative;
    color: #222222;
}
.apresentacao .bg-image{
    width: 90%;
    margin: auto;
    position: relative;
}
.apresentacao .texts{
    top: 25%;
    background-color: rgb(255, 144, 70)(94, 31, 31);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.apresentacao .titulo{
    font-weight: bolder;
    font-size: 2.5vw;
    margin-bottom: -1vw;
    line-height: normal;
}
.apresentacao .titulo1{
    font-weight: normal;
    font-size: 2.7vw;
    line-height: normal;
}
.apresentacao .subtitulo{
    width: 60%;
    font-size: 1.2vw;
    margin: auto;
}
.fig1{
    width: 30%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.retangulo-divisor{
    height: 5vw;
    background-image: var(--gradient);
    width: 100%;
}
//Sobre a unidade vw: Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.
//F I M  A P R E S E N T A Ç Ã O

//S O B R E
.sobre{
    margin: 8% 15% 0 15%;
    color: #222222;
    text-align: left;
}
.sobre-title{
    font-size: 2.2vw;
    font-weight: normal;
}
.sobre-title1{
    margin-top: 0;
    font-size: 2.2vw;
    font-weight: bolder;
    margin-bottom: 1vw;
}
.sobre-text{
    font-size: 1.1vw;
}
.saiba-sobre{
    cursor: pointer;
    margin-top: 0.7vw;
    color: #FF2357;
    border-radius: 0.5vw;
    border: solid 0.1vw;
    font-weight: 600;
    background-color: white;
    font-size: 1vw;
    text-align: center;
    padding: 0.533333vw 1.67vw 0.533333vw 1.67vw; //Top - Right - Bottom - Left
    transition: ease-in-out .25s;
}
.saiba-sobre:hover{
    background-image: var(--gradient);
    color: white;
}
.fig2{
    width: 70%;
    float: right;
}
//F I M  S O B R E

//B L O G
.blog{
    margin: 10% 15% 0 15%;
    color: #222222;
    text-align: right;
}
.fig3{
    width: 70%;
    float: left;
}
.blog-title{
    margin-top: 11%;
    font-size: 2.2vw;
    font-weight: normal;
}
.blog-text{
    font-size: 1.1vw;    
}
.visitar-blog{
    cursor: pointer;
    margin-top: 0.7vw;
    color: #FF2357;
    border-radius: 0.5vw;
    border: solid 0.1vw;
    font-weight: 600;
    background-color: white;
    font-size: 1vw;
    text-align: center;
    padding: 0.533333vw 1.67vw 0.533333vw 1.67vw; //Top - Right - Bottom - Left
    transition: ease-in-out .25s;
}
.visitar-blog:hover{
    background-image: var(--gradient);
    color: white;
}
//F I M  B L O G

//P A R T I C I P E
.participe{
    margin-top: 8%;
    width: 100%;
    height: 22vw;
    background-color: #FDE4E8;
    background-image: url(../Imagens/fig6.png);
    background-size: cover;
}
.participe-title{
    margin-top: 5%;
    font-weight: bolder;
    font-size: 2.2vw;
    text-align: center;
    color: #222222;
    margin-bottom: 0.5vw;
}
.participe-subtitle{
    width: 30%;
    margin-left: 35%;
    font-size: 1.1vw;
    color: #555555;
    text-align: center;
    font-weight: normal;
}
.participar{
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 44.7%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    padding: 0.9vw 0.8vw 0.9vw 0.8vw; //Top - Right - Bottom - Left
    background-image: var(--gradient);
    border: none;
    border-radius: 0.4vw;
    background-size: 200%;
    transition: background-position 0.4s;    
}
.participar:hover, .participar:active{
    //Animação para o degradê de background
    background-position: right;
}
//F I M  P A R T I C I P E



//F O O T E R
.footer-mobile{
    display: none;
}
.footer-info{
    margin-top: 10vw;
}
footer{
    margin-top: 6vw;
}
#footer-title{
    display: block;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    height: 4vw;
}
//Endereço -----------------
.endereco{
    margin-left: 10%;
}
#endereco-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 1vw;
}
#endereco-text{
    font-size: 1vw;
    color: #777777;
    text-align: left;
    width: 90%;
}
//Navegação -----------------
#navegacao-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 1vw;
}
.footer-links a{
    color: #777777;
    font-size: 1vw;
    display: block;
    padding-bottom: 0.7vw;
}
.footer-links a:hover{
    color: #FF0B38;
}
#home-footer{
    color: #FF0B38;
}
//Contato -----------------
#contato-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 1vw;   
}
#contato-text a{
    color: #777777;
    font-size: 1vw;
}
#contato-text a:hover{
    color: #FF0B38;
}
//Mídias Sociais -----------------
#social-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 0.6vw;   
}
.social a{
    color: #777777;
    font-size: 2.3vw;
}
.social #instagram:hover{
    color: #F44747 !important;
}
.social #facebook:hover{
    color: #3C5898 !important;
}

//Rodapé -----------------
.page-footer{
    padding: 0 !important;
}
.footer-copyright{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #FF2357 !important;
    text-align: center;
    bottom: 0px !important;
    color: #222222;
    height: 4vw !important;
}
.container{
    font-size: 0.8vw !important;
}
.container a{
    color: white;
}
.container a:hover{
    color: white !important;
}
//F I M  F O O T E R
/*M E D I A  Q U E R Y  B R E A K  P O I N T S 
*******************************************************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    #logotipo{
        margin-top: 4% !important;
    }
    .overlay{
        display: none;
    }
    .botao, #home, #sobre, #blog{
        font-size: 1.5vw !important;
    }
    .circulo{
        height: 0.7vw;
        width: 0.7vw;
        background-image: var(--gradient);
        border-radius: 50%;
        margin: auto;
        position: absolute;
        margin-top: 4.3vw;
        margin-left: -2.3vw;
    }
    .botao{
        font-size: 1.4vw;
    }
    //Sobre
    .sobre-title{
        margin-bottom: -0.5vw;
    }
    .sobre-title1, .sobre-title1, .blog-title, .participe-title{
        font-size: 2.6vw;
    }
    .sobre-text, .blog-text, .participe-subtitle{
        font-size: 1.3vw;
    }
    .fig2{
        width: 90%;
        float: right;
    }
    .saiba-sobre, .visitar-blog{
        font-size: 1.3vw;
    }
    //Blog
    .blog-title{
        margin-top: 10%;
    }
    .fig3{
        width: 80%;
    }
    //Participar
    .participe-subtitle{
        width: 40%;
        margin-left: 30%;
        font-size: 1.3vw;
    }
    .participar{
        font-size: 1.3vw;
        margin-left: 43.5%;
        font-weight: normal;
    }
    #navegacao-title, #endereco-title, #contato-title, #social-title{
        font-size: 1.4vw;
    }
    #contato-text a, #endereco-text, .footer-links a{
        font-size: 1.3vw;
    }
    #facebook, #instagram{
        font-size: 2.5vw;
    }
    .container{
        font-size: 1.1vw !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .overlay{
        display: none;
    }
    //Nav
    header{
        padding: 0;
        margin-bottom: -6vw;
        height: 15vw !important;
    }
    #logotipo{
        height: 6vw;
        margin-top: 4% !important;
    }
    a:hover,a.active{
        color: #0082e6;
    }
    .circulo{
        display: none;
    }
    @keyframes bg-animation{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }

    //Oculta o botão de participação
    .botao{
        display: none;
    }
    //Oculta o círculo sobre o link da página atual
    .circulo{
        display: none;
    }
    .sobre-title{
        margin-bottom: -0.5vw;
    }
    //Modifica tamanho dos títulos
    .sobre-title, .sobre-title1, .blog-title, .participe-title{
        font-size: 2.6vw;
    }
    //Modifica tamanho do conteúdo dos blocos
    .sobre-text, .blog-text, .participe-subtitle{
        font-size: 1.3vw;
    }
    //Sobre
    .fig2{
        width: 90%;
        float: right;
    }
    .saiba-sobre, .visitar-blog{
        font-size: 1.3vw;
    }
    //Blog
    .blog-title{
        margin-top: 10%;
    }
    .fig3{
        width: 80%;
    }
    //Participar
    .participe-subtitle{
        width: 40%;
        margin-left: 30%;
        font-size: 1.3vw;
    }
    .participar{
        font-size: 1.3vw;
        margin-left: 43.5%;
        font-weight: normal;
    }
    //Foote
    #navegacao-title, #endereco-title, #contato-title, #social-title{
        font-size: 1.4vw;
    }
    #contato-text a, #endereco-text, .footer-links a{
        font-size: 1.3vw;
    }
    #facebook, #instagram{
        font-size: 2.5vw;
    }
    #contato-text{
        margin-top: -0.2vw;
    }
    .container{
        font-size: 1.1vw !important;
    }
}
@media only screen and (max-width: 768px){
    nav{
        margin-top: 1.5vw;
    }
    //Header
    .overlay{
        display: none;
    }
    header{
        padding: 0;
        margin-bottom: -8vw;
        height: 15vw !important;
    }
    #logotipo{
        height: 6vw;
        margin-top: 1.5vw !important;
    }
    //Apresentação
    .apresentacao .titulo{
        font-size: 3vw;
        width: 100vw;
    }
    .apresentacao .titulo1{
        font-size: 3.6vw;
        margin-top: -1.3vw;
    }
    .apresentacao .subtitulo{
        font-size: 1.8vw;
        width:40%;
    }
    #footer-title{
        display: block;
        margin-bottom: 3vw;
        margin-left: auto;
        margin-right: auto;
        height: 6vw;
        margin-right: 44%;
    }
    nav ul li a{
        font-size: 2.3vw;
        color: white !important;
    }
    a:hover,a.active{
        color: #0082e6;
    }

    //Div que centralizará textos e botões
    .centralizado{
        text-align: center;
    }
    .circulo{
        display: none;
    }
    //Animação
    @keyframes bg-animation{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }
    //Ocultando e Exibindo Divs
    .sobre{
        display: none;
    }
    .blog{
        display: none;
    }
    .sobre-mobile{
        display: block;
        margin-bottom: 6vw;
    }
    .blog-mobile{
        display: block;
    }

    //Oculta o botão de participação da Nav-bar
    .botao{
        display: none;
    }
    //Oculta o círculo sobre o link da página atual
    .circulo{
        display: none;
    }
    //Sobre
    .sobre-title{
        margin-bottom: -0.5vw;
    }
    //Alterando tamanho dos títulos
    .sobre-title, .sobre-title1, .blog-title{
        font-size: 4.5vw;
        text-align: center;
    }
    //Alterando tamanho da fonte do conteúdo
    .sobre-text, .blog-text{
        font-size: 2.5vw;
        text-align: justify;
        width: 85%;
    }
    .sobre-text{
        margin: auto;
        margin-bottom: 0.5vw;
    }
    .fig2-mobile{
        margin-top: 15%;
        width: 33%;
        margin-left: 34%;
    }

    //Blog
    .blog-title{
        margin-top: 0;
    }
    .fig3{
        width: 35%;
        display: block;
        margin-left: 33%;
    }
    .blog-text{
        margin-top: 0.5vw;
        margin: auto;
    }
    .visitar-blog{
        margin-top: 1.3vw;
    }

    //Editando os botões
    .saiba-sobre, .visitar-blog{
        font-size: 2.5vw;
    }

    //Participar
    .participe{
        height: 30vw;
    }
    .participe-title{
        font-size: 4.5vw;
        text-align: center;
    }
    .participe-subtitle{
        width: 60%;
        margin: auto;
        font-size: 2.5vw;
    }
    .participar{
        font-size: 2vw;
        margin-left: auto;
        margin-right: auto;
        font-weight: normal;
    }

    //Footer Mobile
    .footer-mobile{
        margin-left: 8%;
        margin-top: 10vw;
        display: inline-block;
    }
    .footer-info{
        display: none;
    }
    #navegacao-title, #endereco-title, #contato-title, #social-title{
        padding-bottom: 1vw;
        font-size: 3vw;
        border-bottom: solid 0.01vw #FF2256;
    }
    #contato-text a, #endereco-text, .footer-links a{
        font-size: 2.3vw;
        text-align: left;
    }
    #facebook, #instagram{
        font-size: 4vw;
    }
    #contato-text{
        margin-top: -0.2vw;
    }
    .container{
        font-size: 1.6vw !important;
    }
    .footer-copyright{
        height: 6vw !important;
    }
}
@media only screen and (max-width: 450px){
    nav{
        margin-top: 1vw;
    }
}
//F I M  M E D I A  Q U E R Y