//N A V  B A R
//Variável que possui os valores do degradê
:root{
    --gradient: linear-gradient(
        45deg,
        #FF0B38, 
        #FF8FE2
    );
}


//Definições iniciais
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    margin-top: 20px;
    width: 100%;
}

.home{
    //Ajustando a margem causada pelo círculo
    margin-right: -5px;
    display: inline-block;
    //Definindo o link 'home' com cor diferente
    color: #FF0B38
}
//Definindo círculo que ficará sob o link da página Home
.circulo{
    height: 8px;
    width: 8px;
    background-image: var(--gradient);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    margin-top: 55px;
    margin-left: -27px;
}
//Definindo o link 'home' com cor diferente
#home{
    color: #FF0B38;
}
#participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile{
    display: none;
}
.img-nav{
    position: absolute;
    bottom: 0px;
    height: 50vh;
    display: none;
}

//Logotipo
#logotipo{
    color: #FF2256;
    font-size: 1.3vw;
    margin-left: 10%;
    font-weight: 500;
    line-height: 80px;
}
#logotipo:hover{
    cursor: pointer;
}


//Nav-Bar
nav ul{
    float: right;
    margin-right: 10%;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    margin-right: 35px;
    color: #555555;
    padding: 7px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    text-align: center;
}
a:hover, a.active{
    color: #FF0B38;
    transition:.5s;
}

//Burger Animation
.burger div{
    width: 25px;
    height: 3px;
    background-color: #FF0B38;
    margin: 5px;
    transition: all 0.3s ease;
}
.burger{
    margin-top: 30px;
    display: none;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


//Botão de Participação
.botao{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 3px 15px 3px 15px; //Top - Right - Bottom - Left
    background-image: var(--gradient);
    border: none;
    border-radius: 3px;
    background-size: 200%;
    transition: background-position 0.4s;
}
.botao:hover, .botao.active{
    cursor: pointer;
    //Animação para o degradê de background
    background-position: right;
}


.checkbtn{
    font-size: 30px;
    color: #FF0B38;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#myCheck{
    display: none;
}
@media only screen and (max-width: 952px){
    #logotipo{
        font-size: 18px;
    }
    nav ul li a{
        font-size: 16px;
        margin: 0;
    }
}
@media only screen and (max-width: 858px){
    nav{
        margin-top: 0;
    }
    #logotipo{
        padding: 0 15%;
        margin: -10px;
        font-size: 3.5vw;
    }

    //Exibindo o Menu Mobile
    #participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile{
        display: inline;
        position: relative;
    }
    //Burger animation
    .burger{
        display: block;
        cursor: pointer;
    }
    .circulo{
        display: none;
    }
    #home, #sobre, #blog{
        display: none;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: var(--gradient);
        background-size: 400%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        animation: bg-animation 20s infinite alternate;
        z-index: 1;
    }

    #myCheck:checked ~ ul{
        left: 0;
    }
    @keyframes bg-animation{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: white !important;
        margin: 0;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
      }

    //Oculta o botão de participação
    .botao{
        display: none;
    }
    //Oculta o círculo sobre o link da página atual
    .circulo{
        display: none;
    }


    //**** Configs da apresentação
    .apresentacao{
        top: 0.5vw !important;
    }
    .apresentacao .titulo{
        font-size: 3vw !important;
    }
    .apresentacao .titulo1{
        font-size: 3.2vw !important;
    }
    .apresentacao .subtitulo{
        font-size: 1.6vw !important;
        width: 60% !important;
    }  
    .fig1{
        top: 80% !important;
    }
    .retanguloDivisor{
        top: 4vh !important;
    }
    //**** Fim Configs da apresentação

    //*** Sobre o Grupo
    .grupo{
        margin-bottom: -5.5vw !important;
    }
    //*** Fim Configs Sobre
}
//A P R E S E N T A Ç Ã O
.apresentacao{
    top: 1vw;
    text-align: center;
    position: relative;
    color: #222222;
    width: 100%;
    
}
.apresentacao .bg-image{
    width: 90%;
    margin: auto;
    position: relative;
}
.apresentacao .texts{
    top: 25%;
    background-color: rgb(255, 144, 70)(94, 31, 31);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.apresentacao .titulo{
    font-weight: bolder;
    font-size: 2.5vw;
    margin-bottom: -1vw;
    line-height: normal;
}
.apresentacao .titulo1{
    font-weight: normal;
    font-size: 2.7vw;
    line-height: normal;
}
.apresentacao .subtitulo{
    width: 50%;
    font-size: 1.2vw;
    margin: auto;
}
.fig1{
    width: 30%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.retanguloDivisor{
    width: 100%;
}
//Sobre a unidade vw: Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.
//F I M  A P R E S E N T A Ç Ã O

//S O B R E
.sobre{
    margin: 8% 15% 0 15%;
    line-height: normal;
    color: #222222;
    text-align: left;
}
.grupo{
    font-size: 2.2vw;
    font-weight: normal;
    margin-bottom: -10%;
}
.grupo1{
    font-size: 2.2vw;
    font-weight: bolder;
}
.descricao{
    font-size: 1.1vw;
}
.saiba-sobre{
    margin-top: 10px;
    color: #FF2357;
    border-radius: 5px;
    border: solid 1px;
    font-weight: 600;
    background-color: white;
    font-size: 1vw;
    text-align: center;
    padding: 0.533333vw 1.67vw 0.533333vw 1.67vw; //Top - Right - Bottom - Left
    transition: ease-in-out .25s;
}
.saiba-sobre:hover{
    background-image: var(--gradient);
    color: white;
    font-weight: 700;
}
.fig2{
    width: 90%;
    float: right;
}
//F I M  S O B R E