.blog-content-mobile{
    display: none;
}
.apresentacao .bg-image{
    position: absolute;
    margin: 0 !important;
    left: 5% !important;
    top: -12vw !important;
    width: 90%;
    z-index: -1;
}
.apresentacao .texts{
    position: relative;
    margin-top: 8%;
}
.apresentacao{
    top: 4vw;
    text-align: center;
    position: relative;
    color: #222222;
    margin-bottom: 8vw;
    overflow: hidden;
}
.titulo{
    font-weight: normal !important;
    margin-top: -5vw;
    font-size: 2.5vw;
}
.page{
    text-align: center;
    margin-top: 2vw;
    color: #555555;
    font-weight: normal;
}
//Home / Blog
#home-blog{
    color: #555555;
}
#home-blog:hover{
    color: #FF0B38;
}
#home{
    color: #555555 !important;
}
#home:hover{
    color: #FF0B38 !important;
}
#blog{
    color: #FF0B38 !important;
}
.sobre{
    margin-top: 0px !important;
}
.fig2{
    margin-top: -2vw;
    width: 60%;
}

.blog-title{
    margin-top: 0;
}
.fig3{
    margin-top: 2.4vw;
    width: 95%;
}

.corpo-blog{
    margin-left: 10%;
    margin-right: 10%;
}

.card-title{
    margin-top: -0.5vw !important;
    color: #222222 !important;
    font-size: 1.45vw !important;
    font-weight: bolder !important;
    line-height: 1.9vw !important;
}
.conteudo-post{
    margin-top: 0.6vw !important;
    color: #555555;
    font-size: 1vw;
}
.subtitulo-post{
    font-size: 0.75vw;
    color: #999999;
}
.link-post{
    color: #49BE55 !important;
    text-transform: none !important;
    font-weight: bold !important;
    font-size: 0.8em !important;
}
#home-footer{
    color: #777777;
}
#home-footer:hover{
    color: #FF0B38;
}
#blog-footer{
    color: #FF0B38;
}
#blog-footer:hover{
    color: #087F8C;
}
.circulo{
    height: 0.5vw;
    width: 0.5vw;
    background-image: var(--gradient);
    border-radius: 70%;
    position: absolute;
    margin-top: 3.5vw;
    margin-left: -1.35vw;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .circulo{
        height: 0.7vw;
        width: 0.7vw;
        background-image: var(--gradient);
        border-radius: 50%;
        margin: auto;
        position: absolute;
        margin-top: 4.3vw;
        margin-left: -1.9vw;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .corpo-blog{
        margin-left: 5%;
        margin-right: 5%;
    }
    .apresentacao .texts{
        position: relative;
        margin-top: 13%;
    }
    .conteudo-post{
        margin-top: 0.6vw !important;
        color: #555555;
        font-size: 1.5vw;
    }
    .subtitulo-post{
        font-size: 1vw;
    }
}
@media only screen and (max-width: 768px){
    .blog-content-mobile{
        display: block;
    }
    .blog-content{
        display: none;
    }
    .corpo-blog{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .fig3{
        width: 40%;
        margin-left: 30%;
    }
    .apresentacao{
        margin-bottom: 3vw !important;
    }
    .texts{
        margin-top: 10vw;
        margin-left: 0.5vw;
    }
    .apresentacao .texts{
        position: relative;
        margin-top: 15%;
    }
    .titulo{
        margin-left: -0.4vw !important;
    }
    .page{
        font-size: 2vw;
    }
    .blog-mobile{
        margin-bottom: 10vw;
    }
    .apresentacao .texts{
        position: relative;
        margin-top: 15%;
    }
    .apresentacao{
        margin-bottom: 0.1vw;
    }
    .card-title{
        font-size: 2vw !important;
    }
    .conteudo-post{
        margin-top: 0.6vw !important;
        color: #555555;
        font-size: 2vw;
    }
    .subtitulo-post{
        font-size: 1.4vw;
    }
}
@media only screen and (max-width: 568px){
    .conteudo-post{
        margin-bottom: -2vw !important;
    }
    
}