//N A V  B A R
//Variável que possui os valores do degradê
:root{
    --gradient: linear-gradient(
        45deg,
        #FF0B38, 
        #FF8FE2
    );
}

.overlay {
    position: absolute;
    display: none;   //overlay é exibido apenas quando o jQuery o ativar
    top: 8.2vw;
    bottom: 0;
    opacity: 0.5;
    width: 100%;
    right: 0;   //absolutely position element covers entire page
    background: #212121;
    z-index: 1;
    transition: ease-in-out .5s;
    animation: overlay-animation 0.5s;
}
@keyframes overlay-animation{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}
//Definições iniciais
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

nav{
    margin-top: 1.2vw;
    width: 100%;
}

.home{
    //Ajustando a margem causada pelo círculo
    margin-right: -5px;
    display: inline-block;
    //Definindo o link 'home' com cor diferente
    color: #FF0B38
}
//Definindo círculo que ficará sob o link da página Home
.circulo{
    height: 0.5vw;
    width: 0.5vw;
    background-image: var(--gradient);
    border-radius: 70%;
    position: absolute;
    margin-top: 5vw;
    margin-left: -1.75vw;
}

//Definindo o link 'home' com cor diferente
#home{
    color: #FF0B38;
}
.sobre-mobile{
    display: none;
}
.blog-mobile{
    display: none;
}
#participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile{
    display: none;
}
.img-nav{
    position: absolute;
    bottom: 0px;
    height: 50vh;
    display: none;
}

//Logotipo
#logotipo{
    color: #FF2256;
    font-size: 1.3vw;
    margin-left: 10%;
    font-weight: 500;
    line-height: 8.2vw;
}
#logotipo:hover{
    cursor: pointer;
}


//Nav-Bar
nav ul{
    float: right;
    margin-right: 10%;
}
nav ul li{
    display: inline-block;
    line-height: 8.2vw;
    margin: 0 5px;
}
nav ul li a{
    margin-right: 35px;
    color: #555555;
    padding: 7px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    text-align: center;
}
a:hover, a.active{
    color: #FF0B38;
    transition:.5s;
}

//Burger Animation
.burger div{
    width: 3vw;
    height: 0.35vw;
    background-color: #FF0B38;
    margin: 0.583333vw;
    transition: all 0.3s ease;
}

.burger{
    margin-top: 30px;
    display: none;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


//Botão de Participação
.botao{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1vw;
    text-align: center;
    padding: 0.183333vw 0.916667vw 0.183333vw 0.916667vw; //Top - Right - Bottom - Left
    background-image: var(--gradient);
    border: none;
    border-radius: 0.183333vw;
    background-size: 200%;
    transition: background-position 0.4s;
}
.botao:hover, .botao:active{
    //Animação para o degradê de background
    background-position: right;
}
.checkbtn{
    font-size: 30px;
    color: #FF0B38;
    float: left;
    line-height: 8.2vw;
    cursor: pointer;
    display: none;
    margin-left: 10%;
}
#myCheck{
    display: none;
}
//A P R E S E N T A Ç Ã O
.apresentacao{
    top: 1vw;
    text-align: center;
    position: relative;
    color: #222222;
}
.apresentacao .bg-image{
    width: 90%;
    margin: auto;
    position: relative;
}
.apresentacao .texts{
    top: 25%;
    background-color: rgb(255, 144, 70)(94, 31, 31);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.apresentacao .titulo{
    font-weight: bolder;
    font-size: 2.5vw;
    margin-bottom: -1vw;
    line-height: normal;
}
.apresentacao .titulo1{
    font-weight: normal;
    font-size: 2.7vw;
    line-height: normal;
}
.apresentacao .subtitulo{
    width: 50%;
    font-size: 1.2vw;
    margin: auto;
}
.fig1{
    width: 30%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.retangulo-divisor{
    height: 4.2vw;
    background-image: var(--gradient);
    width: 100%;
    background-size: 400%;
    animation: retangulo-animation 10s infinite alternate;
}
@keyframes retangulo-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
//Sobre a unidade vw: Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.
//F I M  A P R E S E N T A Ç Ã O

//S O B R E
.sobre{
    margin: 8% 15% 0 15%;
    color: #222222;
    text-align: left;
}
.sobre-title{
    font-size: 2.2vw;
    font-weight: normal;
}
.sobre-title1{
    margin-top: 0;
    font-size: 2.2vw;
    font-weight: bolder;
    margin-bottom: 1vw;
}
.sobre-text{
    font-size: 1.1vw;
}
.saiba-sobre{
    cursor: pointer;
    margin-top: 0.7vw;
    color: #FF2357;
    border-radius: 0.5vw;
    border: solid 0.1vw;
    font-weight: 600;
    background-color: white;
    font-size: 1vw;
    text-align: center;
    padding: 0.533333vw 1.67vw 0.533333vw 1.67vw; //Top - Right - Bottom - Left
    transition: ease-in-out .25s;
}
.saiba-sobre:hover{
    background-image: var(--gradient);
    color: white;
}
.fig2{
    width: 70%;
    float: right;
}
//F I M  S O B R E

//B L O G
.blog{
    margin: 10% 15% 0 15%;
    color: #222222;
    text-align: right;
}
.fig3{
    width: 70%;
    float: left;
}
.blog-title{
    margin-top: 11%;
    font-size: 2.2vw;
    font-weight: normal;
}
.blog-text{
    font-size: 1.1vw;    
}
.visitar-blog{
    cursor: pointer;
    margin-top: 0.7vw;
    color: #FF2357;
    border-radius: 0.5vw;
    border: solid 0.1vw;
    font-weight: 600;
    background-color: white;
    font-size: 1vw;
    text-align: center;
    padding: 0.533333vw 1.67vw 0.533333vw 1.67vw; //Top - Right - Bottom - Left
    transition: ease-in-out .25s;
}
.visitar-blog:hover{
    background-image: var(--gradient);
    color: white;
}
//F I M  B L O G

//P A R T I C I P E
.participe{
    margin-top: 8%;
    width: 100%;
    height: 22vw;
    background-color: #FDE4E8;
    background-image: url(../Imagens/fig6.png);
    background-size: cover;
}
.participe-title{
    margin-top: 5%;
    font-weight: bolder;
    font-size: 2.2vw;
    text-align: center;
    color: #222222;
    margin-bottom: 0.5vw;
}
.participe-subtitle{
    width: 30%;
    margin-left: 35%;
    font-size: 1.1vw;
    color: #555555;
    text-align: center;
    font-weight: normal;
}
.participar{
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 44.7%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    padding: 0.9vw 0.8vw 0.9vw 0.8vw; //Top - Right - Bottom - Left
    background-image: var(--gradient);
    border: none;
    border-radius: 0.4vw;
    background-size: 200%;
    transition: background-position 0.4s;    
}
.participar:hover, .participar:active{
    //Animação para o degradê de background
    background-position: right;
}
//F I M  P A R T I C I P E


//F O O T E R
.footer-mobile{
    display: none;
}
.footer-info{
    margin-top: 10vw;
}
footer{
    margin-top: 6vw;
}
.footer-title{
    text-align: center;
    color: #FF2256;
    margin-bottom: 3vw;
    font-size: 1.5vw;
}
//Endereço -----------------
.endereco{
    margin-left: 10%;
}
#endereco-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 1vw;
}
#endereco-text{
    font-size: 1vw;
    color: #777777;
    text-align: left;
    width: 90%;
}
//Navegação -----------------
#navegacao-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 1vw;
}
.footer-links a{
    color: #777777;
    font-size: 1vw;
    display: block;
    padding-bottom: 0.7vw;
}
.footer-links a:hover{
    color: #FF0B38;
}
#home-footer{
    color: #FF0B38;
}
#home-footer:hover{
    color: #087F8C;
}
//Contato -----------------
#contato-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 1vw;   
}
#contato-text a{
    color: #777777;
    font-size: 1vw;
}
#contato-text a:hover{
    color: #FF0B38;
}
//Mídias Sociais -----------------
#social-title{
    font-size: 1.1vw;
    color: #101C21;
    margin-bottom: 0.6vw;   
}
.social a{
    color: #777777;
    font-size: 2.3vw;
}
.social #instagram:hover{
    color: #F44747;
}
.social #facebook:hover{
    color: #3C5898;
}

.page-footer{
    padding: 0 !important;
}
.footer-copyright{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #FF2357 !important;
    text-align: center;
    bottom: 0px !important;
    color: #222222;
    height: 4vw !important;
}
.container{
    font-size: 0.8vw !important;
}
.container a{
    color: white;
}
//F I M  F O O T E R
//M E D I A  Q U E R Y  B R E A K  P O I N T S 
/*
@custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);*/
//******************************************************************************************************************
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .overlay{
        display: none;
    }
    #logotipo{
        font-size: 2vw !important;
    }
    nav ul li a{
        font-size: 1.5vw;
        margin-right: 10px;
    }
    .botao{
        font-size: 1.5vw;
    }
    .circulo{
        height: 8px;
        width: 8px;
        background-image: var(--gradient);
        border-radius: 50%;
        margin: auto;
        position: absolute;
        margin-top: 5vw;
        margin-left: -2.5vw;
    }
    nav ul li a{
        font-size: 1.4vw;
        margin-right: 15px;
    }
    .botao{
        font-size: 1.4vw;
    }
    .sobre-title{
        margin-bottom: -0.5vw;
    }
    .sobre-title1, .sobre-title1, .blog-title, .participe-title, .footer-title{
        font-size: 2.6vw;
    }
    .sobre-text, .blog-text, .participe-subtitle{
        font-size: 1.3vw;
    }
    .fig2{
        width: 90%;
        float: right;
    }
    .saiba-sobre, .visitar-blog{
        font-size: 1.3vw;
    }
    .blog-title{
        margin-top: 10%;
    }
    .fig3{
        width: 80%;
    }
    .participe-subtitle{
        width: 40%;
        margin-left: 30%;
        font-size: 1.3vw;
    }
    .participar{
        font-size: 1.3vw;
        margin-left: 43.5%;
        font-weight: normal;
    }
    .footer-title{
        font-size: 2vw;
    }
    #navegacao-title, #endereco-title, #contato-title, #social-title{
        font-size: 1.4vw;
    }
    #contato-text a, #endereco-text, .footer-links a{
        font-size: 1.3vw;
    }
    #facebook, #instagram{
        font-size: 2.5vw;
    }
    .container{
        font-size: 1.1vw !important;
    }
}
  
@media only screen and (min-width: 768px) and (max-width: 992px){
    .overlay{
        display: none;
    }
    header{
        padding: 0;
        margin-bottom: -6vw;
        height: 15vw !important;
    }
    #logotipo{
        padding: 0 10% !important;
        font-size: 2.5vw;
        text-align: center;
        margin-left: 15%;
        text-transform: uppercase;
    }
    #home, #sobre, #blog{
        display: none;
    }
    //Exibindo o Menu Mobile
    #participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile{
        display: inline;
        position: relative;
    }
    .nav-mobile{
        margin-top: -3vw;
        text-align: left;
    }
    nav ul li{
        display: block;
        margin: 3vw 0;
        line-height: 30px;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100%;
        background-image: var(--gradient);
        background-size: 400%;
        top: 8.2vw;
        left: -100%;
        text-align: center;
        transition: all .5s;
        animation: bg-animation 20s infinite alternate;
        z-index: 1;
    }
    nav ul li a{
        font-size: 2vw;
        color: white !important;
        margin-left: 10%;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }


    .burger{
        margin-top: 2.7vw;
        padding: 0;
        display: block;
    }
    .checkbtn{
        display: block;
    }
    #myCheck:checked ~ ul{
        left: 0;
    }

    .circulo{
        display: none;
    }
    @keyframes bg-animation{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }

    //Oculta o botão de participação
    .botao{
        display: none;
    }
    //Oculta o círculo sobre o link da página atual
    .circulo{
        display: none;
    }
    .sobre-title{
        margin-bottom: -0.5vw;
    }
    .sobre-title, .sobre-title1, .blog-title, .participe-title, .footer-title{
        font-size: 2.6vw;
    }
    .sobre-text, .blog-text, .participe-subtitle{
        font-size: 1.3vw;
    }
    .fig2{
        width: 90%;
        float: right;
    }
    .saiba-sobre, .visitar-blog{
        font-size: 1.3vw;
    }
    .blog-title{
        margin-top: 10%;
    }
    .fig3{
        width: 80%;
    }
    .participe-subtitle{
        width: 40%;
        margin-left: 30%;
        font-size: 1.3vw;
    }
    .participar{
        font-size: 1.3vw;
        margin-left: 43.5%;
        font-weight: normal;
    }
    .footer-title{
        font-size: 2vw;
    }
    #navegacao-title, #endereco-title, #contato-title, #social-title{
        font-size: 1.4vw;
    }
    #contato-text a, #endereco-text, .footer-links a{
        font-size: 1.3vw;
    }
    #facebook, #instagram{
        font-size: 2.5vw;
    }
    #contato-text{
        margin-top: -0.2vw;
    }
    .container{
        font-size: 1.1vw !important;
    }
}

@media only screen and (max-width: 768px){
    .overlay{
        display: none;
    }
    header{
        padding: 0;
        margin-bottom: -8vw;
        height: 15vw !important;
    }
    #logotipo{
        padding: 0 10% !important;
        font-size: 2.5vw;
        text-align: center;
        margin-left: 15%;
        text-transform: uppercase;
    }
    #home, #sobre, #blog{
        display: none;
    }
    .apresentacao .titulo{
        font-size: 3vw;
        width: 100vw;
    }
    .apresentacao .titulo1{
        font-size: 3.6vw;
        margin-top: -1.3vw;
    }
    .apresentacao .subtitulo{
        font-size: 1.8vw;
        width:50%;
    }
    //Exibindo o Menu Mobile
    #participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile{
        display: inline;
        position: relative;
    }
    .nav-mobile{
        margin-top: -3vw;
        text-align: left;
    }
    nav ul li{
        display: block;
        margin: 3vw 0;
        line-height: 30px;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100%;
        background-image: var(--gradient);
        background-size: 400%;
        top: 8.2vw;
        left: -100%;
        text-align: center;
        transition: all .5s;
        animation: bg-animation 20s infinite alternate;
        z-index: 1;
    }
    nav ul li a{
        font-size: 2.3vw;
        color: white !important;
        margin-left: 10%;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }


    .burger{
        margin-top: 2.7vw;
        padding: 0;
        display: block;
    }
    .checkbtn{
        display: block;
    }
    #myCheck:checked ~ ul{
        left: 0;
    }

    .centralizado{
        text-align: center;
    }
    .circulo{
        display: none;
    }

    @keyframes bg-animation{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }
    //Ocultando e Exibindo Divs
    .sobre{
        display: none;
    }
    .blog{
        display: none;
    }
    .sobre-mobile{
        display: block;
        margin-bottom: 6vw;
    }
    .blog-mobile{
        display: block;
    }

    //Oculta o botão de participação
    .botao{
        display: none;
    }
    //Oculta o círculo sobre o link da página atual
    .circulo{
        display: none;
    }
    .sobre-title{
        margin-bottom: -0.5vw;
    }
    .sobre{
        margin-left: 4%;
        margin-right: 4%;
    }
    .sobre-title, .sobre-title1, .blog-title, .participe-title, .footer-title{
        font-size: 4.5vw;
        text-align: center;
    }
    .sobre-text, .blog-text, .participe-subtitle{
        font-size: 2.5vw;
        text-align: center;
    }
    .sobre-text{
        width: 75%;
        margin: auto;
        margin-bottom: 0.5vw;
    }
    .blog-text{
        margin-top: 0.5vw;
        margin: auto;
        width: 60%;
    }
    .fig2-mobile{
        margin-top: 15%;
        width: 33%;
        margin-left: 34%;
    }
    .saiba-sobre, .visitar-blog{
        font-size: 2.5vw;
        margin-left: auto;
        margin-right: auto;
    }
    .visitar-blog{
        margin-top: 1.3vw;
    }
    .blog-title{
        margin-top: 0;
    }
    .fig3{
        width: 35%;
        display: block;
        margin-left: 33%;
    }
    .participe{
        height: 30vw;
    }
    .participe-title{
        font-size: 4.5vw;
    }
    .participe-subtitle{
        width: 60%;
        margin: auto;
        font-size: 2.5vw;
    }
    .participar{
        font-size: 2vw;
        margin-left: auto;
        margin-right: auto;
        font-weight: normal;
    }
    //Footer Mobile
    .footer-mobile{
        margin-left: 8%;
        margin-top: 10vw;
        display: inline-block;
    }
    .footer-info{
        display: none;
    }
    .footer-title{
        font-size: 4vw;
        //Esq -67.5
        //Centro
        margin-left: -8vw;
    }
    #navegacao-title, #endereco-title, #contato-title, #social-title{
        padding-bottom: 1vw;
        font-size: 3vw;
        border-bottom: solid 0.01vw #FF2256;
    }
    #contato-text a, #endereco-text, .footer-links a{
        font-size: 2.3vw;
    }
    #facebook, #instagram{
        font-size: 4vw;
    }
    #contato-text{
        margin-top: -0.2vw;
    }
    .container{
        font-size: 1.6vw !important;
    }
    .footer-copyright{
        height: 6vw !important;
    }
}

//F I M  M E D I A  Q U E R Y