:root {
  --gradient: linear-gradient(
        45deg,
        #FF0B38, 
        #FF8FE2
    );
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  margin-top: 20px;
  width: 100%;
}

.home {
  margin-right: -5px;
  display: inline-block;
  color: #FF0B38;
}

.circulo {
  height: 8px;
  width: 8px;
  background-image: var(--gradient);
  border-radius: 50%;
  margin: auto;
  position: absolute;
  margin-top: 55px;
  margin-left: -27px;
}

#home {
  color: #FF0B38;
}

#participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile {
  display: none;
}

#logotipo {
  color: #FF2256;
  font-size: 18px;
  margin-left: 10%;
  font-weight: 500;
  line-height: 80px;
}

#logotipo:hover {
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 10%;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  margin-right: 35px;
  color: #555555;
  padding: 7px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

a:hover, a.active {
  color: #FF0B38;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #FF0B38;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  margin-top: 30px;
  display: none;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.botao {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 3px 15px 3px 15px;
  background-image: var(--gradient);
  border: none;
  border-radius: 3px;
  background-size: 200%;
  -webkit-transition: background-position 0.4s;
  transition: background-position 0.4s;
}

.botao:hover, .botao.active {
  cursor: pointer;
  background-position: right;
}

.checkbtn {
  font-size: 30px;
  color: #FF0B38;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#myCheck {
  display: none;
}

@media only screen and (max-width: 952px) {
  #logotipo {
    font-size: 18px;
  }
  nav ul li a {
    font-size: 16px;
    margin: 0;
  }
}

@media only screen and (max-width: 858px) {
  nav {
    margin-top: 0;
  }
  #logotipo {
    padding: 0 15%;
    margin: -10px;
  }
  #participar-mobile, #home-mobile, #sobre-mobile, #blog-mobile {
    display: inline;
    position: relative;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .circulo {
    display: none;
  }
  #home, #sobre, #blog {
    display: none;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: var(--gradient);
    background-size: 400%;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-animation: bg-animation 20s infinite alternate;
            animation: bg-animation 20s infinite alternate;
    z-index: 1;
  }
  #myCheck:checked ~ ul {
    left: 0;
  }
  @-webkit-keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: white !important;
    margin: 0;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  .botao {
    display: none;
  }
  .circulo {
    display: none;
  }
  .apresentacao {
    top: 0.5vw !important;
  }
  .apresentacao .titulo {
    font-size: 3vw !important;
  }
  .apresentacao .titulo1 {
    font-size: 3.2vw !important;
  }
  .apresentacao .subtitulo {
    font-size: 1.6vw !important;
    width: 60% !important;
  }
  .fig1 {
    top: 80% !important;
  }
  .retanguloDivisor {
    top: 4vh !important;
  }
}

.apresentacao {
  top: 1vw;
  text-align: center;
  position: relative;
  color: #222222;
  width: 100%;
}

.apresentacao .bg-image {
  width: 90%;
  margin: auto;
  position: relative;
}

.apresentacao .texts {
  top: 25%;
  background-color: #ff9046 94, 31, 31;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.apresentacao .titulo {
  font-weight: bolder;
  font-size: 2.5vw;
  margin-bottom: -1vw;
  line-height: normal;
}

.apresentacao .titulo1 {
  font-weight: normal;
  font-size: 2.7vw;
  line-height: normal;
}

.apresentacao .subtitulo {
  width: 50%;
  font-size: 1.2vw;
  margin: auto;
}

.fig1 {
  width: 30%;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.retanguloDivisor {
  width: 100%;
}
/*# sourceMappingURL=styleIndex.css.map */